<div class="toolbar px-1">
  <button
    class="btn btn-icon m-0"
    hx-get="{{ url_for('voucher.all_vouchers') }}"
    hx-target="#content"
    hx-swap="innerHTML"
    hx-push-url="true"
  >
    <i class="bi bi-arrow-left"></i>
  </button>

  <div class="d-none d-sm-flex ms-auto">
    <button class="btn btn-icon page-number">
      <span class="text-muted"> {{ current_voucher }} of {{ total_vouchers }} </span>
    </button>

    {% if prev_voucher %}
      <button
        class="btn btn-icon"
        hx-get="{{ url_for('voucher.view_voucher', voucher_id=prev_voucher.id) }}"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
        <i class="bi bi-chevron-left"></i>
      </button>
    {% else %}
      <button class="btn btn-icon" disabled>
        <i class="bi bi-chevron-left"></i>
      </button>
    {% endif %}

    {% if next_voucher %}
      <button
        class="btn btn-icon"
        hx-get="{{ url_for('voucher.view_voucher', voucher_id=next_voucher.id) }}"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
        <i class="bi bi-chevron-right"></i>
      </button>
    {% else %}
      <button class="btn btn-icon" disabled>
        <i class="bi bi-chevron-right"></i>
      </button>
    {% endif %}
  </div>
</div>
