<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button
          class="btn btn-secondary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#categoryModal"
          hx-get="{{ url_for('admin.category_create') }}"
          hx-target="#modalContent"
          hx-swap="innerHTML"
        >
          Create new category
        </button>
      </td>
    </tr>
    {% for category in categories %}
      <tr>
        <td>{{ category.name }}</td>
        <td>
          <button
            type="button"
            class="btn btn-link btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#categoryModal"
            hx-get="{{ url_for('admin.category_update', category_id=category.id) }}"
            hx-target="#modalContent"
            hx-swap="innerHTML"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-link btn-sm text-danger"
            data-bs-toggle="modal"
            data-bs-target="#categoryModal"
            hx-get="{{ url_for('admin.category_delete', category_id=category.id) }}"
            hx-target="#modalContent"
            hx-swap="innerHTML"
          >
            Remove
          </button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
