:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa; /*--bs-light*/
  --bs-gray-200: #e9ecef; /*--bs-light-border-subtle*/
  --bs-gray-300: #dee2e6; /*--bs-border*/
  --bs-gray-400: #ced4da; /*--bs-dark-bg-subtle*/
  --bs-gray-500: #adb5bd; /*--bs-dark-border-subtle*/
  --bs-gray-600: #6c757d; /*--bs-secondary*/
  --bs-gray-700: #495057; /*--bs-dark-text-emphasis & --bs-secondary*/
  --bs-gray-800: #343a40; /*--bs-dark-gray*/
  --bs-gray-900: #212529; /*--bs-dark*/

  /* Reference */
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;

  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;

  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;

  --bs-border-color: #dee2e6;
  --bs-primary-lightest: #f2f8ff;
}

@font-face {
  font-family: "Google Sans Flex";
  src: url("/static/css/fonts/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

html,
body {
  font-family: "Google Sans Flex", Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
}

body {
  background-color: var(--bs-light);
}

main {
  top: 64px;
  left: 256px;
  right: 0;
  bottom: 0;
  transition: left 0.5s ease;
}

aside.collapsed ~ main {
  left: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 20px;
  background-color: var(--bs-white);
  overflow: hidden;
}

.content .form-check > .form-check-input {
  float: unset;
  vertical-align: middle;
  border-width: 2px;
  background-color: inherit;
  box-shadow: none !important;
}

.content .form-check > .form-check-input:checked {
  border-color: var(--bs-primary) !important;
  background-color: var(--bs-primary) !important;
}

.form-control + label {
  color: var(--bs-black);
}

.form-control:not(:placeholder-shown) + label {
  color: var(--bs-secondary);
}

.form-control:focus {
  box-shadow: none;
  outline: 2px solid var(--bs-primary);
  outline-offset: -2px;
}

.form-control:focus + label {
  color: var(--bs-primary);
}

.form-control.is-invalid,
.form-control.is-invalid:focus {
  box-shadow: none;
  outline: 2px solid var(--bs-danger);
  outline-offset: -2px;
}

.form-control.is-invalid + label,
.form-control.is-invalid:focus + label {
  color: var(--bs-danger);
}

.form-check-input:focus {
  border-color: var(--bs-border-color);
}

.form-check-input:checked {
  border-color: var(--bs-primary);
}

.form-check-input:checked,
.form-check-input:not(:checked),
.form-check-input:not(:checked):focus {
  box-shadow: none;
}

.bi {
  color: var(--bs-gray-dark) !important;
}

.dropdown-menu {
  border: var(--bs-white);
  border-radius: 8px;
  font-size: 14px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  outline: none;
  background-color: var(--bs-light-border-subtle) !important;
}

.dropdown-item:focus:active {
  background-color: var(--bs-primary) !important;
}

.dropdown-menu {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.2),
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 0 3px rgba(0, 0, 0, 0.05);
}

.dropdown-toggle {
  border: none !important;
}

.toolbar {
  top: 0;
  height: 48px;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: white;
  background: white;
}

.dropdown-toggle::after {
  display: none !important;
}

/* Table Container */
main .table-container {
  overflow-x: auto;
  overflow-y: auto;
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  border-color: var(--bs-white);
  background: var(--bs-white);
}

::-webkit-scrollbar-track:active {
  background: var(--bs-light-border-subtle);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: var(--bs-secondary-bg-subtle);
}

.digit {
  font-size: 12px;
}

.card,
.card-header,
.card-footer {
  border: none;
}

.card-header {
  background-color: var(--bs-primary-lightest);
}

.card-header span {
  color: var(--bs-primary-text-emphasis);
  font-weight: 600;
}

.card i.bi.bi-x-lg {
  -webkit-text-stroke: 1px !important;
}

.card-body {
  overflow-y: auto;
}

.card-footer {
  background-color: var(--bs-white);
  padding-top: 7px;
  padding-bottom: 14px;
}
