#modeOfPayment .form-check-label {
  font-size: 12px;
}

#attachment {
  color: var(--bs-secondary);
}

#attachment.has-file {
  color: var(--bs-gray-dark);
}

#newVoucherForm .form-check-input:focus {
  box-shadow: none;
  outline: 2px solid var(--bs-primary);
  outline-offset: -2px;
}

#newVoucherForm :disabled,
#newVoucherForm .form-select {
  background-color: var(--bs-light);
  color: #595c5f;
}

#newVoucherForm #particulars {
  resize: none;
  height: 75px;
}

#newVoucherForm .section-header {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  #newVoucherForm #particulars {
    resize: none;
    height: 75%;
  }
}

/* Make datepicker look like normal Bootstrap input */
input[type="date"],
input[type="datetime-local"],
input[type="time"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  transform: scale(1.6);
  filter: grayscale(100%);
  opacity: 0.5;
}

#dateReceivedPicker .bi-calendar {
  color: var(--bs-gray-dark) !important;
  -webkit-text-stroke: 0.25px !important;
}
