:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa; /*--bs-light*/
  --bs-gray-200: #e9ecef; /*--bs-light-border-subtle*/
  --bs-gray-300: #dee2e6; /*--bs-border*/
  --bs-gray-400: #ced4da; /*--bs-dark-bg-subtle*/
  --bs-gray-500: #adb5bd; /*--bs-dark-border-subtle*/
  --bs-gray-600: #6c757d; /*--bs-secondary*/
  --bs-gray-700: #495057; /*--bs-dark-text-emphasis & --bs-secondary*/
  --bs-gray-800: #343a40; /*--bs-dark-gray*/
  --bs-gray-900: #212529; /*--bs-dark*/

  /* Reference */
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;

  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;

  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;

  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;

  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;

  --bs-border-color: #dee2e6;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;

  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
}
