aside {
  position: fixed;
  top: 64px;
  left: 0;
  width: 256px;
  height: calc(100vh - 64px);
  background-color: var(--bs-light);
  box-shadow: none;
  transform: translateX(-256px);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  will-change: transform;
  padding-right: 8px;
  z-index: 1040;
}

aside.active {
  transform: translateX(0);
}

aside.no-transition {
  transition: none;
}

.scrollable-sidebar {
  height: calc(100vh - 128px);
  overflow-y: overlay;
  scrollbar-gutter: stable overlay !important;
  overflow-x: hidden;
}

.scrollable-sidebar::-webkit-scrollbar {
  width: 8px;
  padding: 0;
  margin: 0;
}

.scrollable-sidebar::-webkit-scrollbar-track {
  background: var(--bs-light);
}

#sidebar .btn.btn-primary.btn-main {
  height: 56px;
  width: inherit;
  margin: 0px 8px 0px 8px;
  font-size: 14px;
  white-space: nowrap;
}

#sidebar .bi-plus {
  color: white !important;
}

#sidebar .nav {
  margin: 0px 8px 0px 8px;
}

#sidebar .nav-link .bi {
  -webkit-text-stroke: 0.35px;
  margin-right: 16px;
}

#sidebar .nav-link .bi.bi-chevron-down {
  -webkit-text-stroke: 0.5px;
}

.nav-link {
  height: 32px;
  max-width: 227px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 50rem;
  color: var(--bs-black);
  box-shadow: none;
  padding: 0px 12px;
  vertical-align: middle;
  line-height: 1;
}

.nav-link:hover {
  background-color: var(--bs-light-border-subtle) !important;
  border-color: var(--bs-light-border-subtle) !important;
  color: var(--bs-black);
  cursor: pointer;
}

.nav-link:focus {
  background-color: var(--bs-light-border-subtle) !important;
  border-color: var(--bs-light-border-subtle) !important;
  color: var(--bs-black);
  box-shadow: none;
}

.nav-link.active,
.nav-link.active .digit {
  background-color: var(--bs-primary-bg-subtle) !important;
  color: var(--bs-primary-text-emphasis) !important;
  font-weight: 500;
}

.nav-link.active i {
  color: var(--bs-primary-text-emphasis) !important;
}

.nav-link .bi-chevron-down {
  margin-right: -7px !important;
}
