{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vouchers.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/new_voucher.css') }}" />
{% endblock %}

{% block content %}
  <div class="content" id="content">
    {% include 'partials/list_toolbar.html' %}
    {% include 'partials/table.html' %}
  </div>

  {% if show_card %}
    <div id="floatingCardContainer">{% include 'fragments/form_card.html' %}</div>
  {% else %}
    <div id="floatingCardContainer"></div>
  {% endif %}
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/vouchers.js') }}"></script>
{% endblock %}
