<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button
          class="btn btn-secondary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#adminModal"
          hx-get="{{ url_for('admin.role_create') }}"
          hx-target="#modalContent"
          hx-swap="innerHTML"
        >
          Create new role
        </button>
      </td>
    </tr>
    {% for role in roles %}
      <tr>
        <td>{{ role.name }}</td>
        <td>
          <button
            type="button"
            class="btn btn-link btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#adminModal"
            hx-get="{{ url_for('admin.role_update', role_id=role.id) }}"
            hx-target="#modalContent"
            hx-swap="innerHTML"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-link btn-sm text-danger"
            data-bs-toggle="modal"
            data-bs-target="#adminModal"
            hx-get="{{ url_for('admin.role_delete', role_id=role.id) }}"
            hx-target="#modalContent"
            hx-swap="innerHTML"
          >
            Remove
          </button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
