<form
  class="d-flex flex-column flex-grow-1"
  id="newVoucherForm"
  hx-post="{{ url_for('voucher.save_voucher') }}"
  hx-target="#vouchersTableBody"
  hx-swap="beforeend"
  novalidate
>
  {{ form.csrf_token() }}
  <div class="mb-1 text-muted section-header">System Information</div>
  <hr class="mt-1 mb-3" />

  <div class="row mb-2 d-flex align-items-center">
    {{ form.date_received.label(class_="col-sm-2 col-form-label col-form-label-sm") }}
    <div class="col-sm-5">
      {{
        form.date_received(
             class="form-control form-control-sm " ~ ('is-invalid' if form.date_received.errors else ''),
             id="dateReceived", type="datetime-local"
        )
      }}
      {% for err in form.date_received.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>

    {{ form.category.label(class_="col-sm-2 col-form-label col-form-label-sm") }}
    <div class="col-sm-3">
      {{
        form.category(
             class="form-control form-control-sm " ~ ('is-invalid' if form.category.errors else ''),
             id="category"
        )
      }}
      {% for err in form.category.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="row mb-4">
    {{ form.attachment.label(class_="col-sm-2 col-form-label col-form-label-sm") }}
    <div class="col-sm-10">
      <div class="input-group">
        {{
          form.attachment(
            class="form-control form-control-sm " ~ ('is-invalid' if form.attachment.errors else ''),
            id="attachment"

          )
        }}
      </div>
      {% for err in form.attachment.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="mb-1 text-muted section-header">Disbursement Voucher</div>
  <hr class="mt-1 mb-3" />

  <div class="row mb-2 d-flex align-items-center">
    {{ form.dv_number.label(class_="col-sm-2 col-form-label col-form-label-sm") }}
    <div class="col-sm-5">
      {{
        form.dv_number(
             class="form-control form-control-sm " ~ ('is-invalid' if form.dv_number.errors else ''),
             id="dvNumber", disabled=true
        )
      }}
      {% for err in form.dv_number.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>

    {{ form.mode_of_payment.label(class_="col-sm-2 col-form-label-sm", id="modeOfPayment") }}
    <div class="col-sm-3">
      {{
        form.mode_of_payment(
          class="form-select form-select-sm form-control" ~ ('is-invalid' if form.mode_of_payment.errors else ''),
          id="modeOfPaymentSelect", disabled=true
        )
      }}
      {% for err in form.mode_of_payment.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="row mb-2">
    {{ form.payee.label(class_="col-sm-2 col-form-label-sm") }}
    <div class="col-sm-5">
      {{
        form.payee(
             class="form-control form-control-sm " ~ ('is-invalid' if form.payee.errors else ''),
             id="payee"
        )
      }}
      {% for err in form.payee.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>

    {{ form.obr_number.label(class_="col-sm-2 col-form-label-sm") }}
    <div class="col-sm-3">
      {{
        form.obr_number(
             class="form-control form-control-sm " ~ ('is-invalid' if form.obr_number.errors else ''),
             id="obrNumber", placeholder="(Optional)"
        )
      }}
      {% for err in form.obr_number.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="row mb-2">
    {{ form.address.label(class_="col-sm-2 col-form-label-sm") }}
    <div class="col-sm-5">
      {{
        form.address(
             class="form-control form-control-sm " ~ ('is-invalid' if form.address.errors else ''),
             id="address", placeholder="(Optional)"
        )
      }}
      {% for err in form.address.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>

    {{ form.resp_center.label(class_="col-sm-2 col-form-label-sm") }}
    <div class="col-sm-3">
      {{
        form.resp_center(
             class="form-control form-select-sm " ~ ('is-invalid' if form.resp_center.errors else ''),
        )
      }}
      {% for err in form.resp_center.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="row mb-2">
    {{ form.particulars.label(class_="col-sm-2 col-form-label-sm") }}
    <div class="col-sm-5">
      {{
        form.particulars(
             class="form-control form-control-sm " ~ ('is-invalid' if form.particulars.errors else ''),
             rows="5",
        )
      }}
      {% for err in form.particulars.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>

    {{ form.amount.label(class_="col-sm-2 col-form-label-sm") }}
    <div class="col-sm-3">
      {{
        form.amount(
             class="form-control form-control-sm " ~ ('is-invalid' if form.amount.errors else ''),
        )
      }}
      {% for err in form.amount.errors %}
        <div class="invalid-feedback">{{ err }}</div>
      {% endfor %}
    </div>
  </div>
</form>
