<tr
  hx-get="{{ url_for('voucher.view_voucher', voucher_id=voucher.id) }}"
  hx-target="#content"
  hx-swap="innerHTML"
  hx-push-url="true"
>
  <td class="select-col ps-1">
    <button class="form-check btn btn-icon m-0" onclick="event.stopPropagation()">
      <input class="form-check-input m-0" type="checkbox" />
    </button>
  </td>
  <td class="payee-col">
    <span>{{ voucher.payee }}</span>
  </td>
  <td class="particulars-col">
    <span title="{{ voucher.particulars }}"
      >{{ voucher.particulars[:50] }}{% if voucher.particulars|length > 50 %}...{% endif %}</span
    >
  </td>
  <td class="amount-col">
    <span>{{ voucher.amount | currency }}</span>
  </td>
  <td class="date-col">
    <span>{{ voucher.date_received | datetime if voucher.date_received else '-' }}</span>
  </td>
  <td class="created-col">
    <span>{{ voucher.created_at | datetime if voucher.created_at else '-' }}</span>
  </td>
  <td class="modified-col">
    <span>{{ voucher.updated_at | datetime if voucher.updated_at else '-' }}</span>
  </td>
  <td class="status-col">
    <span class="badge rounded-pill text-bg-primary">Active</span>
  </td>
  <td class="category-col">
    <span class="badge bg-light text-dark">{{ voucher.category.name }}</span>
  </td>
  <td class="office-col">
    <span>{{ voucher.resp_center.acronym or voucher.resp_center.name if voucher.resp_center else '-' }}</span>
  </td>
</tr>
